@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


body {
    font-family: "Rubik", serif;
    color: #0B132A;
    font-size: 16px;
    background-color: #F9F9F9;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1140px;
    margin: 0 auto;
}

.title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.subtitle {
    color: #4F5665;
    line-height: 30px;
}

/*-------------Header-------------------------------------------------------------*/

.header {
    margin-bottom: 120px;
}

.header__container {
    display: flex;
    min-height: 100px;
    align-items: center;
}

.header__logo {
    display: flex;
    font-size: 18px;
    margin: 0 157px 0 0;
}

.header__logo-img:hover {
    cursor: pointer;
}

.header__logo-link {
    margin: 10px 0 0 10px;
    font-weight: 500;
}

.header__menu {}

.menu {}

.menu__list {
    display: flex;
}

.menu-item a {
    margin: 0 40px 0 0;
    color: #4F5665;

    &:hover {
        border-bottom: 1px solid #4F5665;
    }
}

.menu-item:last-child {
    margin: 0 130px 0 0;
}

.menu__link {}

.header__login {
    display: flex;
}

.header__login>a:last-child {
    color: #F53855;
}

.login {
    display: flex;
}

.login__sign-in {
    margin: 0 30px 0 0;
    background-color: transparent;
    font-weight: 500;
}

.login__sign-up {
    padding: 10px 30px 10px 30px;
    border: 1px solid #F53855;
    border-radius: 50px;
    color: #F53855;
    background-color: transparent;
    font-weight: 500;

    &:hover {
        background-color: #F53855;
        color: #fff;
    }
}


/* -----------header----------------------------------------------------------*/


.main {
}

.about {
    display: flex;
    margin: 0 0 102px 0;
}

.about__content {
    margin: 0 40px 0 0;
}

.about__title {
    font-size: 50px;
    line-height: 70px;
    font-weight: 500;
    margin: 0 0 20px 0;
    min-width: 555px;
}

.about__subtitle {
    color: #4F5665;
    margin: 0 0 50px 0;
    line-height: 30px;

    span {
        font-weight: 500;
    }
}

.about__btn {
    background: #F53838;
    border-radius: 10px;
    color: #fff;
    width: 250px;
    height: 60px;
    font-weight: 700;
    box-shadow: 0 20px 50px -15px red;

    &:hover {
        background-color: #f9405c;
    }
}

.about__img {}

.advantages {
    padding: 37px 90px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 20px 50px -30px #afafaf;
    margin: 0 0 150px 0;
}

.advantages__info {
    display: flex;
    align-items: center;
    padding-right: 100px;
    border-right: 2px solid #EEEFF2;
    height: 120px;

    &:last-child {
        border: 0;
        padding-right: 20px;
    }
}

.advantages__img {
    margin: 0 36px 0 0;
}

.advantages__item {
    font-size: 20px;
    color: #4F5665;

    span {
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
        color: #0B132A;
    }
}


.provide {
    display: flex;
    align-items: baseline;
    margin: 0 0 212px 0;
    justify-content: space-between;
}

.provide__img {
    position: relative;
    top: -92px;
    margin: 0 170px 0 0;
}

.provide__img-item {}

.provide__content {
    width: 430px;
}

.provide__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin: 0 0 20px 0;
}

.provide__subtitle {
    margin: 0 0 20px 0;
}

.provide__list {
    position: relative;
    color: #4F5665;
}

.provide__list-item {
    margin: 0 0 20px 0;
    padding-left: 30px;
    line-height: 22px;
    font-size: 14px;

    &:last-child {
        margin: 0;
    }

    &::before {
        content: url(../img/svg/checked.svg);
        position: absolute;
        left: 0px;
    }
}

/*-------------------Choose your plan ------------------------------------------------------*/

.choose {
    text-align: center;
    margin: 0 0 150px 0;
}

.choose__title {
    margin: 0 0 20px 0;
}

.choose__subtitle {
    margin: 0 0 60px 0;
}

.choose__card {
    display: flex;
    justify-content: space-between;

}

.choose__card-item {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 80px 80px 0px 80px;
    background-color: #fff;
    &:hover {
        border: 2px solid #F53838;;
    }
}

.choose__card-box {
    margin: 0 0 30px;
}

.choose__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin: 0 0 30px 0;
}

.choose__card-list {
    position: relative;
    color: #4F5665;
    font-size: 14px;
    line-height: 35px;
    margin: 0 0 30px 0;
    min-height: 260px;
}

.choose__card-list_item {
    padding-left: 20px;
    margin-bottom: 10px;

    &::before {
        content: url(../img/svg/checked-plan.svg);
        position: absolute;
        left: -20px;
    }
}



.choose__card-price {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 20px 0;

    span {
        color: #4F5665;
        font-weight: 400px;
    }
}

.choose__card-btn {
    padding: 10px 60px;
    font-weight: 700;
    line-height: 19px;
    color: #F53838;
    border: 2px solid #F53838;
    border-radius: 50px;
    background-color: #fff;
    margin: 0 0 50px 0;

    &:hover {
        background-color: #F53855;
        color: #fff;
        box-shadow: 0px 10px 30px -10px #e60909;
    }
}

.card-active {
    box-shadow: 0px 10px 30px -10px #e60909;
    border: 2px solid #F53838;
    border-radius: 10px;
}

/*----------Huge global network--------------------------------------------------------*/

.global {
    text-align: center;
    margin: 0 0 50px 0;
}

.global__title {
    margin: 0 0 20px 0;
}

.global__subtitle {
    margin: 0 0 156px 0;

    span {
        font-weight: 500;
    }
}

.global__map {
    margin: 0 0 45px 0;
}

.global__sponsored {}

/*-------------Comments-----------------------------------------*/

.comments {
    
}

.comments__title {
    text-align: center;
    margin: 0 0 20px 0;
}

.comments__subtitle {
    text-align: center;
    margin: 0 0 60px 0;
}



/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}

.comments__carousel .slick-dots{
    display: flex;
}
/* Активная точка */
.comments__carousel .slick-dots li{
    list-style: none;
    margin: 50px 15px 0 0;
}

.comments__carousel .slick-dots li.slick-active button {
    background-color: #F53838;
}


/* Элемент точки */
.comments__carousel .slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 50px;
}

.comments__carousel {
    position: relative;
}
.comments__carousel .slick-arrow {
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    font-size: 0;
    width: 20px;
    height: 17px;
}
.comments__carousel .slick-arrow.slick-prev {
    right: 7%;
    background: url('../img/svg/ArrowBack.svg') 19px 19px no-repeat;
    border: 2px solid #F53838;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.comments__carousel .slick-arrow.slick-next {
    background: url('../img/svg/ArrowTo.svg') 20px 20px no-repeat;
    background-color: #F53838;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}

.comments__carousel-item.slick-center {
    background: #FFFFFF;
    border: 2px solid #F53838;
    border-radius: 10px;
    
}



.comments__carousel-item {
    box-sizing: border-box;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 25px;
    margin: 0 0 50px 0;
}
.comments__carousel-header {
    display: flex;
}
.comments__carousel-people {
    margin: 0 20px 20px 0;
}
.comments__carousel-about {
    margin: 0 20px 0 0;
}
.comments__carousel-about_name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}
.comments__carousel-about_city {
    font-size: 14px;
    color: #4F5665;
}
.comments__carousel-stars {
    line-height: 30px;
}
.comments__carousel-stars-item {
    margin: 6px 0 0 10px;
}
.comments__carousel-main {
    line-height: 30px;
}

// -------------Subscribe----------------------------------------------------

.subscribe {
    display: flex;
    background-color: #fff;
    padding: 37px 70px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 65px 0 70px 0;
    box-shadow: 0 20px 50px -30px #afafaf;
}
.subscribe__content {
    
}
.subscribe__content-title {
    line-height: 45px;
    margin: 0 0 15px 0;
}
.subscribe__content-subtitle {
}

.subscribe__btn {
}
.subscribe__btn-item {
    background: #F53838;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    line-height: 25px;
    padding: 17px 65px;
    box-shadow: 0px 10px 30px -10px #e60909;

    &:hover {
        background-color: #f9405c;
    }
}

// ------------Footer-----------------------------------------

.footer {
    background-color: #f5f5f5;
}

.footer__container {
    padding: 50px 0;
    display: flex;
}

.footer__info {
    width: 50%

}
.footer__logo-img {
    margin: 0 10px 20px 0;
}
.footer__logo-link {
    line-height: 35px;
    font-size: 20px;
    font-weight: 500;

    span {
        font-weight: 700;
    }
}
.footer__subtitle {
    max-width: 340px;
    margin: 0 0 30px 0;

    span {
        font-weight: 500;
    }
}
.footer__socials {
}
.footer__socials-item  {
}
.footer__links {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.copyright {
    color: #AFB5C0;
}
.footer__links-list {
    
}
.footer__links-list_item {
    margin: 0 0 10px 0;
    color: #0B132A;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;

    &:first-child {
        margin: 0 0 20px 0;
    }
    

    a {
        color: #4F5665;
        font-size: 16px;
        font-weight: 400;
    }

}

.menu__btn {
    display: none;
}




@media (max-width: 1125px) {
    .header__container {
        justify-content: space-between;
    }
    .menu-item:last-child {
        margin: 0 70px 0 0;
    }
    .header__logo {
        margin: 0 100px 0 0;
    }
    .global__subtitle {
        margin: 0 0 50px 0;
    }
    .global__map {
        width: 700px;
    }
    .global__sponsored {
        width: 800px;
    }
}





@media (max-width: 1010px) {
    .menu-item:last-child {
        margin: 0 50px 0 0;
    }
    .header__logo {
        margin: 0 40px 0 0;
    }
    .about {
        display: block;
    }
    .about__content {
        margin: 0;
        width: 100%;
        text-align: center
    }
    .about__img {
        display: none;
    }
    .provide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .provide__content {
        
    }
    .provide__img {
        margin: 0 20px 0 0;
        top: 0;
    }
    .provide__img-item {
        width: 400px;
    }
    .choose__card-item {
        padding: 20px 45px 0px 45px;
        justify-content: space-around;
    }
    .slick-dots {
        justify-content: center;
    }
    
}



@media (max-width: 940px) {
    .header__logo-link {
        display: none;
    }
    .menu-item:last-child {
        margin: 0 30px 0 0;
    }
    .advantages {
        padding: 36px 30px;
    }

}




@media (max-width: 820px) {
    .header__container {
        padding: 0 10px;
    }
    .menu {
        order: 1;
    }
    .menu__list {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #ff1c3e;
        right: 0;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: all .5s;
        font-size: 18px;

        .menu-item:last-child {
            margin: 0;
        }
    }
    .menu__list.menu__list-active {
        transform: translateY(0);
    }
    a.menu__link {
        padding: 20px 0;
        display: block;
        color: #F9F9F9;
        margin: 0;

    }
    .menu__btn {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 24px;
        border: none;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        background-color: transparent;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: #000;
            left: 0;
            top: 9px;
        }
    }
    .advantages__info {
        border: 0;
        padding: 0;
    }
    .provide__img-item {
        width: 350px;
    }
    .choose__card {
        flex-direction: column;
    }
    .choose__card-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 20px;
    }
    .choose__card-box {
        height: 150px;
        align-self: center;
        margin: 0;
    }
    .choose__card-title {
        margin: 0;
    }
    .choose__card-list {
        min-height: 175px;
        margin: 0;
    }
    .choose__card-list_item {
        padding: 0;
    }
    .choose__card-list_item::before {
        left: -14px;
    }
    .choose__card-price {
        margin: 0;
    }
    .choose__card-btn {
        margin: 0;
    }
    .global__map {
        width: 440px;
    }
    .global__sponsored {
        width: 550px;
    }
    .subscribe {
        flex-direction: column;
        text-align: center;
    }
    .subscribe__content {
        margin: 0 0 20px 0;
    }
}





@media (max-width: 670px) {
    .advantages__info {
        flex-direction: column;
        text-align: center;
    }
    .advantages__img {
        margin: 0;
    }
    .advantages__info:last-child {
        padding: 0;
    }
    .provide {
        display: flex;
        align-items: center;
    }
    .provide__img {
        display: none;
    }
    .choose__card-box {
        display: none;
    }
    .footer__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__info {
        order: 1;
        align-items: center;
        width: 100%;
    }
    .footer__subtitle {
        max-width: 100%;
    }
    .footer__links {
        margin: 0 0 20px 0;
        width: 100%;
        justify-content: center;
    }
}





@media (max-width: 555px) {
    .about__title {
        min-width: 0;
        font-size: 45px;
        
    }
    .choose__card-item {
        flex-direction: column;
        padding: 20px 0;
    }
    .choose__card-title {
        margin: 0 0 20px 0;
    }
    .global__map {
        width: 320px;
    }
    .global__sponsored {
        width: 345px;
    }

}
